:root {
    --primary-color: #bab8b9;
    --text-color: #333;
    }
    
    * {
      

    padding: 0;
    margin: 0;
    box-sizing: inherit;
    }
    :focus-visible {outline-color:#333;}
    ::-webkit-scrollbar{
      width: 6px;
      height: 8px;
     
    
    }
    ::-webkit-scrollbar-thumb{
      background-color: #666;
      border-radius: 4px;
      
    }
    body {
    background-color: #f5f5f5;
    }
    
    html {
    box-sizing  : border-box;
    font-family: 'Golos Text', sans-seri
    }
    .app{
       width: 100%;
       height: 100%;
       padding: 20px 20px;
    }
    .logo{
      padding: 30px;
    }
    .header{
        width: 100%;
        height: 80px;
        background: #fff;
        border-radius: 20px;
        margin-top: 20px;
        display: flex;
    }
    .header label{
      font-size: 25px;

    }

    .dark-mode{
      background-color: #000000;
      color: #fff;
    }
    .dark-mode-header{
      background-color: #3D0000;
      color: #fff;
    }
    .dark-mode-content{
      background-color: #3D0000;
      color: #fff;
    }
    .list-brow{
      padding: 20px 20px;

    }
    .browse-music{
      color: #000;
      padding: 10px;
      
    }
    .top-name{
      line-height: 20px;
      font-size: 30px;
      padding: 41px 48px; 
    }
    .img-music{
      border-radius: 20px;
      width: 100%;
      height: 100%;

    }
    .curated{
      width: 94%;
      padding:10px 10px;
      margin-left: 40px;
      margin-top: 20px;
      height:40% ;
      position: relative;
      background: url(./img/coem.pnj.jpg) top center / cover no-repeat;
      border-radius: 25px;
      
    }
    .list-cura{
      padding: 40px 40px;
    }
    .name-cura{
      color: #ccc;
      text-transform: uppercase;
      font-size: 20px;
      padding: 20px 20px;
    }
    .name-cura .name{
      font-size: 40px;
    }
    .hes{
      display: flex;
    }
    .home:hover{
      background-color: #d3d3d3;
      border-radius: 10px;
    }
    .home{
      padding: 10px;
      color: #666;
    }
    .button-dark{
      text-align: center;
      padding: 20px;
      width: 70px;
      border: none;
      list-style: none;
      border-radius: 20px;
      margin: 15px;

    }
    .new-releases{
      padding: 30px;
    }
    .body-app{
        display: flex;
        margin-top: 20px;
        gap:20px;
    }
    .menu-app{
      width: 350px;
      display: block;
      background: #fff;
      border-radius: 20px;
      height: 950px;
    }
    .dark-mode-menu{
      background-color: #3D0000;
      color: #fff;
    }
    .player {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    
    }
    
    .player .icon-pause {
    display: none;
    cursor: pointer;
    
    }
    
    .player.playing .icon-pause {
    display: inline-block;
    cursor: pointer;
    
    }
    
    .player.playing .icon-play {
    display: none;
    cursor: pointer;
    
    }
    
    .dashboard {
    padding: 16px 16px 14px;
    background-color: #fff;
     
 

    width: 100%;
   
    border-bottom: 1px solid #ebebeb;
    border-radius: 20px;
    height: 100px;
    display: flex;
 
  
    }
    .nav-music{
      position: relative;
      width: 100%;
      height: 80%;
      margin: 0 auto;
      padding-top: 20px;
  }
  .body-content{
    width: 60%;
    background:#fff ;
    border-radius: 20px;
  }
  .playlist-nav{
    width: 30%;
    background-color:#fff ;
    border-radius: 20px;
  }
  .playlist {
    padding: 26px 43px;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin-top: 30px;
  }
    /* HEADER */
    header {
     width: 200px;
     padding: 10px;
    }
    
    header h4 {
    color: var(--primary-color);
    font-size: 12px;
    }
    
    header h2 {
    color: var(--text-color);
    font-size: 10px;
    }
    header h3 {
      color: var(--text-color);
      font-size: 10px;
      }
    
    /* CD */
    .cd {
      display: flex;
   
    width: 80px;
    text-align: center;
    padding: 5px;

    }
    
    .cd-thumb {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-color: #333;
    background-size: cover;
    margin: auto;
    }
    .cotrol-nav{
      width: 80%;
    }
    /* CONTROL */
    .control {
      display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-around;
    margin-left: 500px;

    
    }
 
    .control .btn {
      color: #666;
      padding: 18px;
      font-size: 18px;
      cursor: pointer;
      background-color: #ccc;
      border-radius: 50%;
      width: 47px;
      height: 47px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    .control.btn.active{
        color: var(--primary-color);
    }
    .control.btn-togget-play{
        width: 56px;
        height: 56px;
        border-radius: 50%;
        font-size: 24px;
       color: #fff;
       display: flex;
       align-items: center;
      justify-content: center;
      background-color: var(--primary-color);
    }
  .progress {
        width: 100%;
        -webkit-appearance: none;
        height: 6px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: 0.2s;
        transition: opacity 0.2s;
        cursor: pointer;
        }
   .progress::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 12px;
height: 6px;
background-color: var(--primary-color);
cursor: pointer;
}

/* PLAYLIST */


.song {
  flex: 0 0 auto;
  width: 250px;
  height: 399px;
  margin-right: 40px;
}

.song.active {

}

.song:active {
opacity: 0.8;
}

.song.active .option{

}
.song.active .author {
  color: #666;
  }
.song.active .title {
  color: #000;
  }
.song .thumb {
width: 200px;
height:200px;
border-radius: 20px;
background-size: cover;
margin: 0 8px;
}

.song .body {
flex: 1;
padding: 0 16px;
}

.song .title {
font-size: 18px;
color: var(--text-color);
}

.song .author {
font-size: 12px;
color: #999;
}

.song .option {
padding: 16px 8px;
color: #999;
font-size: 18px;
}


.product-image {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: 25px;
}
  

.ls-music{
  display: flex;
}